<!doctype html>
<html>
<head>
    <title>Node Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        #messages { margin-bottom: 40px }
    </style>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io();
        $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>
</head>

<body>
<div class="container">

    <ul class="nav nav-tabs">
      <li><a href="/profile">Profile</a></li>
      <li class="active"><a href="/chat">Chat App</a></li>
    </ul>

    <div class="page-header text-center">
        <h1><span class="fa fa-comment"></span> Chat Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="col-md-12">
        <!-- LOCAL INFORMATION -->
        <ul id="messages"></ul>
        <div class='footer navbar-fixed-bottom'>
          <form class="well row" action="">
            <input class="col-md-offset-2 col-md-6" id="m" autocomplete="off" />
            <button class="col-md-1 btn btn-success btn-small">Send</button>
          </form>
        </div>
    </div>

</div>
</body>
</html>
